@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  * {
    @apply transition-colors duration-300 cursor-none;
  }

  input, textarea, select {
    @apply cursor-text;
  }
}
